*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #0f172a;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    
    
}

body{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-container{
    display:flex;
    align-items: center;
    gap: 1rem;
}

.google-header{
    font-family: 'Poppins', sans-serif;
}

.img{
    border: none;
    background: transparent;
}

.img img{
    width:40px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
}

.textlink{
    color: inherit;
    text-decoration: none;

}

.textlink:hover{
    text-decoration: underline;
}

.iconlink{
    font:1rem;
    color:inherit;
    width: 30px;
    aspect-ratio: 1/1;
    overflow:hidden;
    border-radius:100%;
    display: grid;
    place-items: center;
}

.iconlink:hover{
    background-color: rgb(224, 222, 222);
}

main{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    
}

.inputbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    border: 1px solid rgb(218, 213, 213);
    border-radius: 50px;
    box-shadow: 0 0 1px 1px rgb(238, 237, 237);
}

.inputbar:focus-within{
    box-shadow: 0 0 4px 2px rgb(226, 224, 224) ;
}

.inputbar:hover{
    box-shadow: 0 0 6px 2px rgb(236, 236, 236) ;
    
}

.inputbar div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.inputbar input{
    flex:1;
    border: none;
    outline: none;
    width: 100%;

}

.buttongrid{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1rem;
    border: none;
    

}

.buttongrid button{
    padding: 0.5rem;
    background-color: rgb(238, 236, 235);
    border: none;
    border-color: transparent;
    
}

.buttongrid button:hover{
    background-color: rgb(180, 177, 177);
    border-radius: 20px;

}

.titletext{
    font-size: 100px;
    font-weight: 450;
    display: flex;
    flex-direction:row;
    gap:0.9px;
    padding: 10px;
}

.inputicons:hover{
    opacity: 0.6;
}

.inputiconbutton{
    border:none;
    background: transparent ;
}

.footertext{
    
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    bottom: 30px;
    background-color: rgb(226, 221, 221);
}


footer{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: px;
    background-color: rgb(240, 238, 238);

}

.footleft{
    display: flex;
    justify-content: left;
    gap: 35px;
    padding: 20px;
    
}

.footright{
    display: flex;
    justify-content: right;
    gap: 20px;
    padding: 20px;
}

.langauge{
    padding-bottom: 400px;
}

.footleft a{
    color:inherit;
    text-decoration:none;
}
.footright a{
    color:inherit;
    text-decoration:none;
}


.footleft a:hover{
    text-decoration:underline;
}

.footright a:hover{
    text-decoration:underline;
}

